@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@media only screen and (min-width: 1024px) {
  .container header .header-nav-area #nav_container {
    display: flex;
  }
}

:root{
  --red: #d01c28;
  --gray: #2e2e2e;
}
*{
  margin:0px;

}

body {
  font-family: 'PT Sans', sans-serif;
} 


button{
  all: unset;
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500px;
  align-items: center;
  border-radius: 0.5rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1280px;
  margin-top:  10px;
  height: 44px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 24px;
}


.hero{
  display: flex;
    align-items: center;
    margin-left: 31px;
    padding: 9px;
    height: calc(100vh - 72px);
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero h1{
        line-height: 97px;
        font-size: 94px;
        font-weight: bolder;
}

.hero p{
  font-weight: 600;
    color: var(--gray);
    max-width: 400px;
}

.hero-btn{
  display:flex;
  gap:40px;
}

.hero-btn button{
  font-size: 24px;
}
.cat-btn{
  background: transparent;
  color: var(--gray);
  border: 1px solid gray;
}
.nike{
  width: 77px;
  height: 40px;
  margin-left: 10px;
}

.amz {
    width: 54px;
    height: 49px;
}

.flp{
width: 54px;
  height: 49px;
}

.hero-image{
  margin-right: 172px;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons{
  display: flex;
  gap:16px;
}
